*{
  box-sizing: border-box;
}

html,body,#root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  background: url("kanye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 5em;
}

button{
  width: 250px;
  height: 55px;
  border-radius: 25px;
  color: white;
  background-color: black;
  border: none;
  font-size: 1em;

}

button:hover{
  background-color: rgb(248, 73, 131);
  color:rgb(0, 0, 0);
  transition: 1s;
  cursor: pointer;
}